<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="D:\JS workspace\Vue Project\monsterSlayer.css">
</head>

<body>

    <div id="app">

        <div v-if="show">
            <div class="container" style="font-family: Times New Roman, Times, serif">
                <!-- input box to take username as input and display it -->
                <div class="jumbotron m-5">
                    <h3>Enter your name :</h3> <input type="text" v-model="username">
                    <h3 style="margin-top: 1%">Click on start button to start the Game </h3>
                    <button @click="changeDivision"> START </button>
                </div>
            </div>
        </div>

        <div v-if="!show">
            <div class="container text-center">
                <div class="row" style="border-style: hidden">
                    <!-- <div class="offset-1"></div>
                    <div class="card col-3" style="border-style: hidden">
                        <img src="giphy.gif" class="card-img-top mt-3 ml-4" style="border-style: groove">

                        <div class="card-body">
                            <h4 class="card-title"> {{ username }} </h4>
                        </div>
                    </div>

                    <div class="offset-3"></div>
                    <div class="card col-3" style="border-style: hidden">
                        <img src="giphy.gif" class="card-img-top mr-5 mt-3" style="border-style: groove">

                        <div class="card-body">
                            <h4 class="card-title"> Monster </h4>
                        </div>
                    </div> -->

                    <div class="offset-1"></div>
                    <div class="col-3">
                        <img src="giphy.gif" class="card-img-top mt-3" style="border-style: groove">
                    </div>
                    <div class="offset-4"></div>
                    <div class="col-3">
                        <img src="giphy.gif" class="card-img-top mt-3" style="border-style: groove">
                    </div>
                </div>

                <!-- life line -->
                <div class="row my-5">

                    <div class="rectangle">
                        <div class="remainingLife " :style=" { width : playerRemainingHealth}">

                        </div>
                    </div>

                    <div class="offset-2"></div>
                    <div class="rectangle" >
                        <div class="remainingLife" :style=" { width : monsterRemainingHealth}">

                        </div>
                    </div>
                </div>

                <!-- button set -->
                <div class="row justify-content-center" style="border-style: groove">
                    <button class="btn btn-primary rounded col-1 m-3" @click="attack">Attack</button>
                    <div class="offset-1"></div>
                    <button class="btn btn-primary rounded col-1 m-3" @click="heavyAttack">Heavy Attack</button>
                    <div class="offset-1"></div>
                    <button class="btn btn-primary rounded col-1 m-3" @click="heal">Heal</button>
                    <div class="offset-1"></div>
                    <button class="btn btn-primary rounded col-1 m-3" @click="giveUp">Give Up</button>
                </div>

                <!-- printing remaining percentage life -->

                <div class="row justify-content-center m-3">
                    <div class="alert alert-primary mr-5" role="alert">
                        {{ username }} remaining life {{ playerRemainingHealth }}
                    </div>
                    <div class="alert alert-primary" role="alert">
                        monster remaining life {{ monsterRemainingHealth }}
                    </div>
                </div>


            </div>
        </div>

    </div>

    <script src="D:\JS workspace\Vue Project\monster-slayer.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>