<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Portal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link src="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
<body style="background-color:#040230">

{% block content %}

<div class="container-fluid">
    <div class="row col-12">
        <nav class="navbar navbar-expand-md fixed-top"
             style="background-color:#040230;border-bottom:solid #2c345e 1px;">
            <div class="container-fluid col-12 ">
                <a href="/toHomePage" class="navbar-brand">
                    <img src="{% static 'images/prognoshealth.png' %}" style="width:200px;"
                         alt=""
                         class="d-inline-block align-middle mr-2">
                </a>

                <div id="navbarSupportedContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a href="#" class="nav-link">
                            <strong class="text-warning pt-2"> Welcome {{user.first_name}} </strong>
                            <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="openNav()">
                                <strong style="color:white;cursor:pointer;"> Tags </strong></a>
                        </li>
                        <div id="mySidenav" class="sidenav">
                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><span><strong>Close&times;</strong></span></a>
                            <ul>
                                {% for tg in tagNameList %}
                                <li>{{ tg }}</li>
                                {% endfor %}
                            </ul>
                        </div>

                        <script>
                        function openNav() {
                          document.getElementById("mySidenav").style.width = "250px";
                        }
                        function closeNav() {
                          document.getElementById("mySidenav").style.width = "0";
                        }







                        </script>

                        <li class="nav-item dropdown">
                            <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                <strong style="color:white"> Upload File </strong>
                            </a>
                            <div class="dropdown-menu dropdown-content dropdown-menu-right">
                                <a class="dropdown-item" href="/uploadNewQuestionnaire">New Questionnaire</a>
                                <a class="dropdown-item" href="/uploadFile">Final Filled Questionnaire</a>
                            </div>
                        </li>
                        <li class="nav-item"><a href="/report" class="nav-link">
                            <strong style="color:white"> Report </strong></a>
                        </li>
                        <li class="nav-item">
                            <a href="/account/logout" class="nav-link">
                                {% if user.is_authenticated %}
                                <strong style="color:white">Log Out</strong>
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <br><br><br><br><br>


    <div>
        <div class="row">
            <div class="col-12">
                <!--            vendors list button and preview button-->
                <div class="row">
                    <div class="col-2">
                        <form action="/toAdminHomePage" method="post">
                            {% csrf_token %}
                            <button class="btn btn-secondary" type="submit">Vendors List</button>
                        </form>
                    </div>
                    <div class="col-7">
                        <h4 style="color:white"><strong>Vendor Name : {{vendorName}} </strong></h4>
                    </div>
                    <div class="col-2" style="margin-left: 8%;">
                        <form action="" method="post">
                            {% csrf_token %}

                            <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                <button class="btn btn-info"><strong>Download As</strong></button>
                            </a>
                            <div class="dropdown-menu dropdown-content dropdown-menu-right">

                                <button class="dropdown-item btn btn-link" name="csvDownload" value="csvDownload">
                                    <strong> <img src="{% static 'images/csvFile.svg' %}"
                                                  style="width:35px;height:40px;">&nbsp &nbsp &nbsp CSV</strong>
                                </button>
                                
                                 <button class="dropdown-item btn btn-link" name="excelDownload" value="excelDownload">
                                    <strong> <img src="{% static 'images/excel.svg' %}"
                                                  style="width:40px;height:50px;">&nbsp &nbsp &nbsp Excel</strong>
                                </button>

                            </div>

                        </form>
                    </div>


                    <!--                    <div class="col-1" style="margin-left: 5%;">-->
                    <!--                        <button class="btn btn-secondary">Download CSV</button>-->
                    <!--                    </div>-->
                </div>

                <!--            tabs-->
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist" style="margin-top: 1%; ">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#allQuestions" style="background:#ebeced">Preview
                            Questions</a>
                    </li>
                    {% if dataFromDatabase %}
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#myUnansweredQuestions">My Unanswered Questions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#currentQuestion">Current Question</a>
                    </li>
                    {% endif %}
                    <!--                    {% if questionCategory.answeredQuestions %}-->
                    <!--                    <li class="nav-item">-->
                    <!--                        <a class="nav-link" data-toggle="tab" href="#answeredQuestions">Answered Questions</a>-->
                    <!--                    </li>-->
                    <!--                    {% endif %}-->
                    <!--                    {% if questionCategory.unansweredQuestions %}-->
                    <!--                    <li class="nav-item">-->
                    <!--                        <a class="nav-link" data-toggle="tab" href="#allUnansweredQuestions">All Unanswered-->
                    <!--                            Questions</a>-->
                    <!--                    </li>-->
                    <!--                    {% endif %}-->
                </ul>

                <!-- Tab panes -->
                <div class="tab-content" style="background-color: white; ">
                    <!--                displays current questions, response, additional comment textarea-->
                    <div id="currentQuestion" class="tab-pane fade"><br>
                        <div class="jumbotron" style="padding: 1%; border:2px solid black;">

                            <form action="getResult" method="POST" style="margin-top: -1%">
                                {% csrf_token %}
                                <table style="border: none">
                                    {% if messages %}
                                    {% for message in messages %}
                                    {% if message.tags %}
                                    <script>alert("{{ message }}")</script>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}

                                    <tr style="border: none">
                                        <td style="width:10%">
                                            <h5 style="margin-top:5px"><strong> Question {{ questionNumber }} <span
                                                    style="text-align: right">:</span> </strong></h5>
                                        </td>
                                        <td style="width:90%">
                                            <strong> {{ questionsList }}Do you have an implemented network-based Data
                                                Loss Prevention (DLP) system on the company network? </strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:10% ">
                                            <h5><strong>Search <span style="text-align: right">:</span> </strong></h5>
                                        </td>
                                        <td>
                                            {% if keyword %}
                                            <input type="text" name="keyword" placeholder="keyword" value="{{keyword}}">
                                            {% else %}
                                            <input type="text" name="keyword" placeholder="keyword">
                                            {% endif %}
                                            <button class="btn btn-secondary" type="submit" name="search"
                                                    value="SEARCH">
                                                SEARCH
                                            </button>
                                            <!--                                <a href="{{questionNumber}}?name=search" type="button" class="btn btn-secondary">Search</a>-->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:10%"><h5><strong>Response <span
                                                style="text-align: right">:</span></strong>
                                        </h5></td>
                                        <td>
                                            <textarea name="response" id="responseArea" style="width:100%;">{{ responseList }}</textarea>
                                            <script>
<!--                                Automatically size all of your <textarea> elements as you type-->
                                autosize(document.querySelectorAll('textarea'));








                                            </script>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:10%">
                                            <h5><strong>Additional Comments <span
                                                    style="text-align: right">:</span></strong></h5>
                                        </td>
                                        <td>
                                        <textarea name="additionalComment" id="commentArea"
                                                  style="width:100%;">{{ additionalCommentsList }}</textarea>
                                            <script>
<!--                                Automatically size all of your <textarea> elements as you type-->
                                autosize(document.querySelectorAll('textarea'));








                                            </script>
                                        </td>
                                    </tr>
                                </table>

                                <br>
                                <!--                buttons-->
                                <div class="row" style="padding-left:5%;">
                                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 ">
                                        <a href="{{ previousUrl }}?name=previous"
                                           class="btn btn-secondary btn-block">PREVIOUS</a>
                                    </div>
                                    <div class="col-2 offset-1">
                                        <a href="{{ nextUrl }}?name=next"
                                           class="btn btn-secondary btn-block">NEXT</a>
                                    </div>
                                    <div class="col-2 offset-1">
                                        <button class="btn btn-secondary btn-block" type="submit" value="SAVE"
                                                name="save">
                                            SAVE
                                        </button>
                                    </div>
                                    <div class="dropdown col-2 offset-1 btn-block">
                                        <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                                            ASSIGN TO
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Pavan</a>
                                            <a class="dropdown-item" href="#">Aviral</a>
                                            <a class="dropdown-item" href="#">Daniel</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!--                personal unanswered questions-->
                    <!--                to display unanswered questions-->
                    <div id="myUnansweredQuestions" class="tab-pane fade">
                        <br>
                        <div class="jumbotron" style="padding: 0%">
                            <div class="row">
                                <div class="col-12">
                                    <table border="1" width="100%">
                                        <thead>
                                        <tr class="d-flex">
                                            <td class="col-1"><strong>Assigned To</strong></td>
                                            <td class="col-4" style="text-align: center"><strong>Question</strong></td>
                                            <td class="col-3" style="text-align: center"><strong>Response</strong></td>
                                            <td class="col-3" style="text-align: center"><strong>Additional
                                                Comment</strong>
                                            </td>
                                            <td class="col-1" style="text-align: center"><strong>Save</strong></td>
                                        </tr>
                                        </thead>
                                        {% for question in questionCategory.unansweredQuestions %}
                                        <tr class="d-flex">
                                            <td class="col-1" style="padding: 8px"></td>
                                            <td class="col-4" style="padding: 8px"><a style="color: black"
                                                                                      href="{{question.queNo}}">{{question.question}}</a>
                                            </td>
                                            <td class="col-3" style="padding: 8px" contenteditable="true">
                                                {{ question.response }}
                                            </td>
                                            <td class="col-3" contenteditable="true" style="padding: 8px">
                                                {{ question.comment }}
                                            </td>
                                            <td class="col-1">
                                                <button class="btn btn-primary">Save</button>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--                to display all questions-->
                    <div id="allQuestions" class="tab-pane active">
                        <br>
                        <div class="jumbotron" style="padding: 0%">
                            <div class="row">
                                <div class="col-12">
                                    <table border="1" width="100%">
                                        {% if dataFromDatabase %}
                                        <thead>
                                        <tr class="d-flex">
                                            <td class="col-1"><strong>Assigned To</strong></td>
                                            <td class="col-4"><strong>Security Questionnaire</strong></td>
                                            <td class="col-3"><strong>Response</strong></td>
                                            <td class="col-3"><strong>Additional Comment</strong></td>
                                            <td class="col-1"><strong>Save</strong></td>
                                        </tr>
                                        </thead>
                                        {% for data in vendorsData %}
                                        <tr class="d-flex" style="word-break: break-word">
                                            <td class="col-1" style="padding: 8px"></td>
                                            <td class="col-4" style="padding: 8px">{{data.question}}</td>
                                            <td class="col-3" style="padding: 8px" contenteditable="true">
                                                {{data.response}}
                                            </td>
                                            <td class="col-3" style="padding: 8px" contenteditable="true">
                                                {{data.additionalComment}}
                                            </td>
                                            <td class="col-1" style="text-align:middle;padding-right:middle; padding-left:middle;padding-top:middle;" colspan="2">
                                                <button class="btn btn-primary" style="vertical-align:center;display:table-cell;text-align:middle">no</button>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% else %}
                                        <thead>
                                        <tr class="d-flex">
                                            <td class="col-4"><strong>Security Questionnaire</strong></td>
                                            <td class="col-4"><strong>Response</strong></td>
                                            <td class="col-4"><strong>Additional Comment</strong></td>
                                        </tr>
                                        </thead>
                                        {% for data in vendorsData %}
                                        <tr class="d-flex" style="word-break: break-word">
                                            <td class="col-4" style="padding: 8px">{{data.SecurityQuestions}}</td>
                                            <td class="col-4" style="padding: 8px">
                                                {{data.Responses}}
                                            </td>
                                            <td class="col-4" style="padding: 8px">
                                                {{data.AdditionalComments}}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% endif %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--        search result-->
        {% if questionnaireRequiredData %}
        <div class="row" style="margin-top: 2%">
            <div class="col-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#allResponses">Responses</a>
                    </li>
                    <!--                    <li class="nav-item">-->
                    <!--                        <a class="nav-link" data-toggle="tab" href="#favouriteResponses">Favourite Responses</a>-->
                    <!--                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#policies">Policy Data</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content" style="background-color: white">
                    <div id="allResponses" class="tab-pane active" style="margin: 0% 0%; padding-bottom: 1%"><br>
                        <div class="jumbotron" style="padding: 1%; margin: 1%">
                            <br>
                            <div class="row" style="width: 100%">
                                <div class="col-12">
                                    <table border="1" id="searchResultTable"
                                           style="margin: -1%; word-break: break-word;">
                                        <thead>
                                        <tr class="d-flex" style="text-align: center">
                                            <th class="col-4" style="padding: 8px"><strong>Security Question</strong>
                                            </th>
                                            <th class="col-4" style="padding: 8px"><strong>Responses</strong></th>
                                            <th class="col-4" style="padding: 8px"><strong>Additional Comment</strong>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for data in questionnaireRequiredData %}
                                        <tr class="d-flex">
                                            <td class="col-4" style="padding: 8px">{{ data.SecurityQuestions }}</td>
                                            <td class="col-4" style="padding: 8px">{{ data.Responses }}</td>
                                            <td class="col-4" style="padding: 8px">{{ data.AdditionalComments }}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--                favourite responses-->
                    <div id="favouriteResponses" class="tab-pane fade" style="margin: 0% 2%; padding-bottom: 1%"><br>
                        <div class="jumbotron">
                            <h3>Most favourite Responses</h3>
                            <p>it will contain only favourite responses</p>
                        </div>
                    </div>

                    <!--                policies data-->
                    <div id="policies" class="tab-pane fade" style="margin: 0% 2%; padding-bottom: 1%"><br>
                        <div class="jumbotron">
                            <h3>Policies</h3>
                            <p>it will contain only policies data</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {% endif %}

        <script>
            $('#searchResultTable td').dblclick(function(){
                col = $(this).parent().children().index($(this));
                var text = $(this).html()
                if (col == 3) {
                    document.getElementById('responseArea').value = text
                } else if(col == 4) {
                    document.getElementById('commentArea').value = text
                }
            });








        </script>
    </div>


</div>
{% endblock %}

</body>
</html>

<!--style for sidenav-->
<style>
    .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 105px;
  left: 0;
  background-color: #37373b;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: white;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: black;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

details summary::-webkit-details-marker {
          display:none;
        }









</style>