<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Monster Slayer</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


</head>

<body>
    <div id="app">
        <div class="container">
            <div class="row" v-show="!show">
                <h3 v-show="false"> Hello World</h3>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card bg-dark ">
                        <div class="card-header text-center text-danger">
                            <h4>Super-Girl V/S Vampire</h4>
                        </div>
                        <div class="card-body">
                            <div class="card-deck">
                                <div class="col-6">
                                    <img class="card-img" src="monsterwomen.gif" style="height: 450px">
                                    <div class="card-img-overlay">
                                        <h2 class="card-title text-light text-center">Vampire</h2>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <img class="card-img width:100%" src="womenHero.gif" style="height: 450px">
                                    <div class="card-img-overlay">
                                        <h2 class="card-title text-light text-center">Super-Girl</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="card align-item center ">
                                <div>
                                    <div v-if="show" class="btn btn-outline-primary" @click="startGame()" style="width:100%">START</div>
                                </div>
                                <div v-if="show">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-deck bg-light" style="height:30px">
                                                    <div class="col-6 bg-success rounded-left rounded-right"
                                                        style="height: 30px"></div>
                                                    <div class="col-6 bg-success  rounded-left rounded-right"
                                                        style="height:30px"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="card">
                                                <div class="card-body text-center">
                                                    <div type="button" class="btn btn-primary " style="width:20%"
                                                       >Attack</div>
                                                    <div type="button" class="btn btn-warning" style="width:20%"
                                                        >Special Attack</div>
                                                    <div type="button" class="btn btn-info" style="width:20%"
                                                        >Heal</div>
                                                    <p v-if="show">
                                                        <div type="button" class="btn btn-secondary" style="width:20%"
                                                            @click="goBack()">Give Up</div>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
        <script>
            new Vue({
                el: '#app',
                data: {
                    show: true,
                    sHealth: 100,
                    mHealth: 100,
                    extraSuperPower=100,
                    extraVampPower=100
                },
                methods: {
                    startGame: function () {
                        this.show = false
                    },

                    // attack: function () {
                    //     this.sHealth = this.sHealth - (Math.floor(Math.random() * 20 + 1))
                    //     this.mHealth = this.mHealth - (Math.floor(Math.random() * 20 + 1))
                    //     if (this.mHealth <= 0) {
                    //         this.mHealth = 0
                    //         alert("Hurrey!! Super-Girl Win")
                    //     }
                    //     else if (this.sHealth <= 0) {
                    //         this.sHealth = 0
                    //         alert("Vampire Won!!")
                    //     }
                    //     else {
                    //         this.superExtraPower()
                    //         this.vampExtraPower()
                    //     }
                    // },
                    // specialAttack: function () {
                    //     this.sHealth = this.sHealth - (Math.floor(Math.random() * 25 + 1))
                    //     this.mHealth = this.mHealth - (Math.floor(Math.random() * 25 + 1))
                    //     this.extraSuperPowerFun()
                    //     this.extraVampPowerFun()
                    //     if (this.mHealth <= 0) {
                    //         this.mHealth = 0
                    //         this.goBack()
                    //         alert("Hurrey!! Super-Girl Win")
                    //     }
                    //     else if (this.sHealth <= 0) {
                    //         this.sHealth = 0
                    //         this.goBack()
                    //         alert("Vampire Won!!")
                    //     }
                    //     else {
                    //         this.superExtraPower()
                    //         this.vampExtraPower()
                    //     }
                    // },
                    // heal() {
                    //     if (this.sHealth < 90) {
                    //         this.sHealth += 10
                    //         this.extraSuperPowerFun(0)
                    //     }
                    // },
                    // extraSuperPowerFun: function () {
                    //     this.extraSuperPower = this.sHealth + "%"
                    //     console.log(this.extraSuperPower)
                    // },
                    // extraVampPowerFun: function () {
                    //     this.extraVampPower = this.mHealth + "%"
                    //     console.log(this.extraVampPower)
                    // },
                    goBack: function () {
                        this.show = true
                        this.sHealth = 100
                        this.mHealth = 100
                        // this.extraSuperPowerFun()
                        // this.extraVampPowerFun()
                    }
                }
            })
        </script>
</body>

</html>