.card-details {
    margin-top:100px;
    height: auto;
    background-color: rgba(50,50,50,0.5) !important;
}

.card-header {
    text-align: center;
}

.card-header h3 {
    color: white;
}

.submit_btn{
color: black;
background-color: #FFC312;
width: 100px;
}