<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Portal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link src="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link src="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body style="background-color:#040230">

{% block content %}

<div class="container-fluid">
    <div class="row col-12">
        <nav  class="navbar navbar-expand-md fixed-top " style="background-color:#040230;border-bottom:solid #2c345e 1px;">
            <div class="container-fluid col-12 ">
                <a href="/" class="navbar-brand">
                   <img src="{% static 'images/prognoshealth.png' %}"style="width:200px;"
                         alt=""
                         class="d-inline-block align-middle mr-2">

                    <!-- <span class="text-uppercase font-weight-bold">Company</span> -->
                </a>
                <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>


                <div id="navbarSupportedContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a href="#" class="nav-link">
                            <strong class="text-warning pt-2"> Welcome {{user.first_name}} &nbsp; &nbsp;</strong>
                            <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item"><a href="/adminLogin" class="nav-link">
                            <strong style="color:white"> Upload File </strong></a>
                        </li>
<!--                        <form>-->
<!--                            {% csrf_token %}-->
<!--                            <li class="nav-item">-->
<!--                                <a class="nav-link" onclick="openNav()">-->
<!--                                    <strong style="color:white;cursor:pointer;"> Tags </strong></a>-->
<!--                            </li>-->
<!--                            <div id="mySidenav" class="sidenav">-->
<!--                                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>-->
<!--                                <h1>this is tags list</h1>-->
<!--                                <ul>-->
<!--                                    {% for tg in tagNameList %}-->
<!--                                    <li>{{ tg }}</li>-->
<!--                                    {% endfor %}-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </form>-->
                        <li class="nav-item"><a href="/account/logout" class="nav-link">
                            <!--                            {% if user.is_authenticated %}-->
                            <strong style="color:white">Log Out</strong>
                            <!--                            {% endif %}-->
                        </a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!--    end of row which contains nav and all nav items-->


    <br><br><br><br><br><br>


    <div class="row col-12">
        <div class="container-fluid ">
            <form action="/searchKeyword" method="POST">
                {% csrf_token %}
                <div class="row">
                        <div class="col-12">
                            <div class="offset-3 col-6 form-group has-search resultitem">
                                <span class="fa fa-search form-control-feedback"></span>
                                <input class="form-control " align="center" type="text" name="keyword" style="border-radius:20px;height:40px;"
                                       value="{{ keyword }}"
                                       placeholder="Search with keyword" ondblclick="dbclick()" id="keyword" autocomplete="off"/>
                                <table id="searchResultTable" style="display: none;margin-left:50px;opacity:0.9;" class="mt-1">

                                    {% if messages %}
                                        {% for message in messages %}
                                         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                <tr style="background-color: white; border-radius: 10px;padding:4px" class="row">
                                    <td onclick="singleClick()"><div style="border:1px solid black;border-radius:15px;padding-right:7px;padding-left:7px;background-color:#D3D9F9 ">Questionnaire </div></td>
                                    <td onclick="singleClick()"><div style="border:1px solid black;border-radius:15px;padding-right:7px;padding-left:7px;background-color:#D3D9F9 ">Policies </div></td>
                                    <td onclick="singleClick()"><div style="border:1px solid black;border-radius:15px;padding-right:7px;padding-left:7px;background-color:#D3D9F9 ">Tags </div></td>
                                </tr>
                            </table>
                            </div>

                            <style>
                                .has-search .form-control {
                                    padding-left: 2.375rem;
                                }
                                .has-search .form-control-feedback {
                                    position: absolute;
                                    z-index: 2;
                                    display: block;
                                    width: 2.375rem;
                                    height: 2.375rem;
                                    line-height: 2.375rem;
                                    text-align: center;
                                    pointer-events: none;
                                    color: #aaa;
                                }
                            </style>

                            <script type="text/javascript">
                                function dbclick(){
                                    document.getElementById('searchResultTable').style.display='block'
                                }
                            </script>

                            <!--                        <input name="response" onclick="document.getElementById('searchResultTable').style.display='block'" id="responseArea" style="width:100%;"/>-->


                            <script type="text/javascript">
                                function singleClick(){
                                    document.getElementById('searchResultTable').style.display='none'

                                }
                            </script>


                            <script>

                                  $('#searchResultTable td div').click(function () {
                                    col = "in@".concat($(this).html())
                                    colVal = col.concat(":- ")

                                    document.getElementById('keyword').value =colVal
                                });

                            </script>
                        </div>


                    </div>

            </form>
            <br><br>
            <!--         end of second row which contains serach box and  button-->

            <!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" data-target=".bd-example-modal-lg" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><b>Tags </b></h5>


                {% if imgUsrDict %}
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a style="width:40px;height:40px;background-color:black;border-radius: 20px;color:white;font-weight:600" class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">All</a>
                        </li>


                        {% for key,val in imgUsrDict.items %}
                            <li class="nav-item">
                                <a style="width:40px;height:40px;background-color:{{val.colorCode}};border-radius: 20px;color:white;color:white;font-weight:600" title="{{key}}" class="nav-link" id="{{val.alias}}-tab" data-toggle="tab" href="#{{val.alias}}" role="tab" aria-controls="{{val.alias}}" aria-selected="true">{{val.alias}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif%}


          <form>
              <div class="row">
                  <div class="col-xl-12">
                      <input class="form-control form-control-sm" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search Your Tag">
                  </div>
              </div>
          </form>

      </div>

        <div class="modal-body">
            <div class="tab-content" id="myTabContent">
<!--                 <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Hello Piyush ...!!!</div>-->
                {% if imgUsrDict %}
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <ul id="myUL" style="display:flex;list-style:none">
                            {% for tagname in tagNameList %}
                            <li style="display:inline"><a href="tagInfo/{{tagname}}"> {{tagname}} </a> &nbsp; | &nbsp;</li>
                            {% endfor %}
                    </ul>
                </div>
                {% for key,val in imgUsrDict.items %}
                    <div class="tab-pane fade" id="{{val.alias}}" role="tabpanel" aria-labelledby="{{val.alias}}-tab">
                        <ul id="myUL" style="display:flex;list-style:none">
                            {% for tagname in val.keyData %}
                                <li style="display:inline"><a href="tagInfo/{{tagname}}"> {{tagname}} </a> &nbsp; | &nbsp;</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
                {% endif%}

            </div>
        </div>

    </div>
  </div>
</div>

            <style>

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {

  text-decoration: none;
}

</style>


<script>
function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();

        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
}
</script>




            <div class="row">
                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                <div>
                    <div class="card resultitem" style="width: 290px;height:320px; border-radius:20px;">
                    <div class="card-body">
                        <h5 class="card-title" align="center" id="tth">Tags</h5>
                         <hr style="background-color:#040230;width:130%;margin-left:-25px; height:3px;">


                        <ul id="tulh">
                            {% for tagname in tagNameList %}
                                {% if forloop.counter <= 6%}
                                    <li><a href="tagInfo/{{tagname}}"> {{tagname}} </a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>

                    </div>
                    <div id="tgfId" class="text-center mt-4"><i class='fas fa-angle-double-down ' data-toggle="modal" data-target="#exampleModalCenter" style="color:black;font-size:24px;position: absolute;bottom:0"></i></div>
                </div>

                    <script>
                        $(document).ready(function(){
                            var tulh = document.getElementById("tulh").offsetHeight;
                            var tth = document.getElementById("tth").offsetHeight;
                            if ((tulh+tth) > 190) {
                                document.getElementById("tgfId").style.visibility = 'visible';
                            } else {
                                document.getElementById("tgfId").style.visibility = 'hidden';
                            }
                        });
                    </script>


                </div>



                &nbsp&nbsp&nbsp&nbsp&nbsp

                 <div class="card  resultitem" style="width: 290px;height:320px; border-radius:20px;">
                    <div class="card-body">
                        <h5 class="card-title" align="center">Most Relevant Response</h5>
                         <hr style="background-color:#040230;width:130%;margin-left:-25px; height:3px;">

                        <ul>
                            {% for keyword1 in globalKeywordList %}
                            <li><a href="searchKeyword/{{keyword1}}?name=mostRelevant" class="card-link">{{keyword1}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>


                &nbsp&nbsp&nbsp&nbsp&nbsp
                <div class="card resultitem" style="width: 290px;height:320px; border-radius:20px;">
                    <div class="card-body">
                        <h5 class="card-title" align="center">Popular Keywords</h5>
                         <hr style="background-color:#040230;width:130%;margin-left:-25px; height:3px;">

                        <ul>
                            {% for sb in newSearchTable %}
                            <li><a href="{% url 'recentSearchKeyword' sb.keyword %}" class="card-link">{{ sb.keyword }}</a>&nbsp&nbsp&nbsp({{sb.count}})</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                &nbsp&nbsp&nbsp&nbsp&nbsp
                <div class="card  resultitem" style="width: 290px;height:320px; border-radius:20px;">
                    <div class="card-body">
                        <h5 class="card-title" align="center">Recent Search</h5>
                         <hr style="background-color:#040230;width:130%;margin-left:-25px; height:3px;">


                        <ul>
                            {% for rs in order %}
                            <li><a href="{% url 'recentSearchKeyword' rs.keyword %}">{{ rs.keyword }}</a></li>
                            {% endfor%}
                        </ul>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}

</body>
</html>
<script>
    $(document).ready(function() {

  $("#agreebutton").on("click", function(e) {

    if ($("#checkedId").is(':checked')) {
      $('.showIfcheked').show();
    } else {
      $('.showIfcheked').hide();
      alert('please select at least one row');
      e.preventDefault();
    }

  });

});

</script>


<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}


</script>

<style>
    .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 100px;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: black;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.resultitem{
 -webkit-transition: 0.5s;
          transition: 0.5s;
}

.resultitem:hover{
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

</style>
